<html>
<head>
    {% load static %}
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="{% static 'admin/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'admin/css/style.css' %}" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="{% static 'admin/css/morris.css' %}" type="text/css"/>
<!-- Graph CSS -->
<link href="{% static 'admin/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- jQuery -->
<script src="{% static 'admin/js/jquery-2.1.4.min.js' %}"></script>
<!-- //jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="{% static 'admin/css/icon-font.min.css' %}" type='text/css' />
<!-- //lined-icons -->
</head> 
<body>
   <div class="page-container">
   <!--/content-inner-->
<div class="left-content">
	   <div class="mother-grid-inner">
            
<!--heder end here-->
<div class="grid-form1">
	<h3 id="forms-controls-static">Add product</h3>
	<form action="{% url 'add product' %}" enctype="multipart/form-data" method="post" class="form-horizontal">
		{% csrf_token %}
	  <div class="form-group">
		<label class="col-sm-2 control-label hor-form">Book name</label>
		<div class="col-sm-10">
		  <input type="text" name="book_name" class="form-control" id="inputname" placeholder="Book Name">
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-2 control-label hor-form">Author name</label>
		<div class="col-sm-10">
		  <input type="category" name="author" class="form-control" id="inputprice" placeholder="Author name">
		</div>
	  </div>
	  <div class="form-group">
		<label class="col-sm-2 control-label hor-form">Category</label>
		<div class="col-sm-10">
		  <input type="category" name="book_category" class="form-control" id="inputprice" placeholder="Category">
		</div>
	  </div>
	  <div class="form-group">
		<label class="col-sm-2 control-label hor-form">sub-category</label>
		<div class="col-sm-10">
		  <input type="category" name="book_sub-category" class="form-control" id="inputprice" placeholder="Sub-category">
		</div>
	  </div>
      <div class="form-group">
		<label class="col-sm-2 control-label hor-form">Price</label>
		<div class="col-sm-10">
		  <input type="number" name="price" class="form-control" id="inputprice" placeholder="Price">
		</div>
	  </div>
	  <div class="form-group">
		<label class="col-sm-2 control-label hor-form">Language</label>
		<div class="col-sm-10">
		  <input type="category" name="book_language" class="form-control" id="inputprice" placeholder="Language">
		</div>
	  </div>
	  <div class="form-group">
		<label class="col-sm-2 control-label hor-form">Available-Copies</label>
		<div class="col-sm-10">
		  <input type="category" name="book_available-copies" class="form-control" id="inputprice" placeholder="Available-Copies">
		</div>
	  </div>
	  {% comment %} <div class="form-group">
		<label class="col-sm-2 control-label hor-form">Book image</label>
		<div class="col-sm-10">
		  <input type="file" name="image" class="form-control" id="inputprice" placeholder="Book image">
		</div>
	  </div> {% endcomment %}

      <button type="submit" class="btn btn-primary">Add Book</button>
	  {{msg}}
	</form>

    <hr>

    <h3>Bulk Upload Books via Excel</h3>
    <form action="{% url 'add product' %}" enctype="multipart/form-data" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 control-label hor-form">Upload Excel File</label>
            <div class="col-sm-10">
                <input type="file" name="excel_file" class="form-control" accept=".xlsx,.xls" required>
            </div>
        </div>
        <button type="submit" name="upload_excel" class="btn btn-primary">Upload Excel</button>
        {{ excel_msg }}
    </form>
										
											
													
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->

  <!--//content-inner-->
		<!--/sidebar-menu-->
		<div class="sidebar-menu">
			<header class="logo1">
				<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
			</header>
				<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
				   <div class="menu">
							<ul id="menu" >
								<li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-tachometer"></i> <span>Dashboard</span><div class="clearfix"></div></a></li>
								
								 <li id="menu-academico" ><a href="#"><i class="fa fa-navicon" aria-hidden="true"></i><span> Book </span> <span class="fa fa-angle-right" style="float: right"></span><div class="clearfix"></div></a>
									<ul id="menu-academico-sub" >
									<li id="menu-academico-avaliacoes" ><a href="{% url 'add product' %}">Add Book</a></li>
									 <li id="menu-academico-avaliacoes" ><a href="{% url 'view product' %}">View Book</a></li>
								   </ul>
								 </li>
								 <li><a href="{% url 'view issued_book' %}"><i class="fa fa-eye"></i>  <span>View issued books</span><div class="clearfix"></div></a></li>
								 
							<li id="menu-academico" ><a href="{% url 'view customer' %}"><i class="fa fa-eye"></i><span>View Subscription</span><div class="clearfix"></div></a></li>
							
					
					<li><a href="{% url 'suggested book' %}"><i class="fa fa-eye"></i> <span>Suggested book</span>
							<div class="clearfix"></div>
						</a></li>
					<li><a href="{% url 'write_blog' %}"><i class="fa fa-eye"></i> <span>Write Blog</span>
							<div class="clearfix"></div>
						</a></li>
					<li><a href="{% url 'event' %}"><i class="fa fa-eye"></i> <span>Event</span>
							<div class="clearfix"></div>
						</a></li>
					<li><a href="{% url 'donated' %}"><i class="fa fa-gift"></i> <span>Donated Books</span>
							<div class="clearfix"></div>
						</a></li>
					<li><a href="{% url 'feedback' %}"><i class="fa fa-gift"></i> <span>Feedback</span>
							<div class="clearfix"></div>
						</a></li>
					<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> <span>Logout</span>
							<div class="clearfix"></div>
						</a></li>
					</li>
						  </ul>
						</div>
							  </div>
							  <div class="clearfix"></div>		
							</div>
							<script>
							var toggle = true;
										
							$(".sidebar-icon").click(function() {                
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }
											
											toggle = !toggle;
										});
							</script>
<!--js -->
				<script src="{% static 'admin/js/jquery.nicescroll.js' %}"></script>
                <script src="{% static 'admin/js/scripts.js' %}"></script>
                <!-- Bootstrap Core JavaScript -->
                <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
                <!-- /Bootstrap Core JavaScript -->   

</body>
</html>