<!DOCTYPE HTML>
<html>
<head>
    {% load static %}
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="{% static 'user/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'user/css/style.css' %}" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="{% static 'user/css/morris.css' %}" type="text/css"/>
<!-- Graph CSS -->
<link href="{% static 'user/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- jQuery -->
<script src="{% static 'admin/js/jquery-2.1.4.min.js' %}"></script>
<!-- //jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'/>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="{% static 'user/css/icon-font.min.css' %}" type='text/css' />
<!-- //lined-icons -->
</head> 

<body>
	<div class="page-container">
		<!--/content-inner-->
		<div class="left-content">
			<div class="mother-grid-inner">
				<!--header start here-->
				<div class="header-main">
					<div class="logo-w3-agile">
						<h1><a href="index.html">Literary Land</a></h1>
					</div>
					

					<div class="clearfix"> </div>
				</div>
				<!--heder end here-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'user_dashboard' %}">Home</a><i class="fa fa-angle-right"></i>upload suggested book
				</ol>
				<!--grid-->
				<div class="grid-form1">
					<h3 id="forms-controls-static">Upload suggested book</h3>
					<form class="form-horizontal" enctype="multipart/form-data" action="{% url 'upload suggested book' %}" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label class="col-sm-2 control-label hor-form">Book's Name</label>
							<div class="col-sm-10">
								<input type="text" name="book_name" class="form-control" id="inputdname" placeholder="enter book name" required>
							</div>
						</div>

                        <div class="form-group">
							<label class="col-sm-2 control-label hor-form">Book author's Name</label>
							<div class="col-sm-10">
								<input type="text" name="author_name" class="form-control" id="inputdname" placeholder="enter author's name" required>
							</div>
						</div>
						
						<button type="submit" class="btn btn-primary">Submit</button>
						{{msg}}
					</form>
					<!--//grid-->

					<!-- script-for sticky-nav -->
					<script>
						$(document).ready(function () {
							var navoffeset = $(".header-main").offset().top;
							$(window).scroll(function () {
								var scrollpos = $(window).scrollTop();
								if (scrollpos >= navoffeset) {
									$(".header-main").addClass("fixed");
								} else {
									$(".header-main").removeClass("fixed");
								}
							});

						});
					</script>
					<!-- /script-for sticky-nav -->
					<!--inner block start here-->
					<div class="inner-block">

					</div>
					<!--inner block end here-->
				</div>
			</div>
			<!--//content-inner-->
			<!--/sidebar-menu-->
			<div class="sidebar-menu">
			<header class="logo1">
				<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
			</header>
			<div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
			<div class="menu">
				<ul id="menu">
					<li><a href="{% url 'user_dashboard' %}"><i class="fa fa-tachometer"></i> <span>Dashboard</span>
							<div class="clearfix"></div>
						</a></li>
					
					<li><a href="{% url 'view book' %}"><i class="fa fa-eye" aria-hidden="true"></i><span>View book</span>
							<div class="clearfix"></div>
						</a></li>
						
					
					
					<li><a href="{% url 'upload suggested book' %}"><i class="fa fa-image" aria-hidden="true"></i> <span>Upload
								suggested book</span>
							<div class="clearfix"></div>
						</a></li>
						<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>  <span>Logout</span><div class="clearfix"></div></a></li>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
		<script>
			var toggle = true;

			$(".sidebar-icon").click(function () {
				if (toggle) {
					$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
					$("#menu span").css({ "position": "absolute" });
				}
				else {
					$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
					setTimeout(function () {
						$("#menu span").css({ "position": "relative" });
					}, 400);
				}

				toggle = !toggle;
			});
		</script>
		<!--js -->
		<script src="{% static 'admin/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'admin/js/scripts.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
<!-- /Bootstrap Core JavaScript -->	   

</body>

</html>